html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ffcc01;
    background-image: url('assets/background/background.png');
    background-repeat: repeat;
    background-size: 400px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    width: min(100vw, calc(100vh * 16 / 9));
    aspect-ratio: 16 / 9;
    height: auto;
    display: block;
    background: black;
}

